#app {
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
}

.btn {
  margin-right: 15px;
}

.numBtn {
  border: 3px solid #333;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 1.7rem;
  float: left;
  margin: 0px 5px 5px 0px;
}

.alive {
  background-color: #e94a58;
}

.dead {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #000;
}
