#app {
  width: 280px;
}

.title {
  width: 100%;
  text-align: center;
}

.btn {
  margin-right: 15px;
}

.numBtn {
  border: 3px solid #333;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.7rem;
  float: left;
}

.numBtn:nth-child(7n + 1) {
  clear: both;
}

.alive {
  background-color: #e94a58;
}

.dead {
  background-color: #888;
}
